%h1 Add new product

= form_tag 'create', :method => :post do
  = label_tag 'name', 'Product\'s name'
  = text_field_tag 'name'

  = label_tag 'price', 'Product\' price'
  = text_field_tag 'price'

  = label_tag 'description', 'Product\'s description'
  = text_area_tag 'description'

  = submit_tag 'Create new product'