%h1= @product.name
= render partial: '/shared/alert'
.product-details
  .details-block
    %p.label= 'Price: '
    %p.data= '$'+@product.price.to_s
  .details-block
    %p.label= 'Description: '
    %p.data= @product.description
