%h1= @product.name
= render partial: '/shared/alert'
.product-details
  .details-block
    %p.label= 'Photos: '
    %p.data
      - @product.product_attachments.each do |product_attachment|
        = image_tag(product_attachment.photo)
  .details-block
    %p.label= 'Price: '
    %p.data= '$'+@product.price.to_s
  .details-block
    %p.label= 'Description: '
    %p.data= @product.description
